<div class = "container wrapper">
	<div id = "top">
		<div id = "uilogo">
			<img src="/images/black50.gif" alt="UofI Logo" height="55">
		</div>
		<h1> UCSummit </h1>
		<p> Connecting People(Slogan Here) </p> 
	</div>
	<div class = "wrapper mainback">
		<div id = "menubar">
			<ul id="menulist">
				<li class = "menuitem"><a href="url">Home</a> </li>
				<li class = "menuitem"><a href="url">Themes</a> </li>
				<li class = "menuitem"><a href="url">Background</a> </li>
				<li class = "menuitem"><a href="url">Sponsorship</a> </li>
				<li class = "menuitem"><a href="url">Contact Info</a> </li>
			</ul>
		</div>
	<div id="main">
		<h1>Changing China, Changing Engineering <br>
		 The First Midwest US-China Engineering Summit</h1>
		<h2>Our Vision</h2>
		<p>The US-China Engineering Summit is designed to expose UI students to a globally collaborating environment. We aim at engaging researchers, engineers and entrepreneurs to advance communication in critical engineering research such as information technology, biotechnology, energy and environment. 
		</p>
		<h2>Our Mission</h2>
		<p>The summit features one-day exhibition, panel discussions and roundtables that invite researchers from various Chinese and U.S. academic institutions to present forefront technological resources, share collaborating experiences and discuss challenges. The venue brings researchers, scholars, entrepreneurs, and investors in dialogue on future cooperation. We expect to host the summit on U of I campus in Champaign-Urbana area in April 2015.
		</p>
		<h2>Our Benefactors</h2>
		<p>The Summit targets at various audience groups, including students from Midwestern US campuses, engineering scholars from both American and Chinese research institutions, industrial entrepreneurs and investors.   
		</p>
	</div>
	<div id="sidebar">
		<h1>Committee Members</h1>
		<h3>Xiong Xiong</h3>
		<p> Pic Here</p>
		<h3> Min Tang</h3>
		<p> Pic Here</p>
	</div>
	<div id = "bottom">
	"No idea what to put here for now"
	</div>
</div>
<h1  style="float: left; margin: 0px 25px 0px 0; font-size: 20px;font-weight: bold;">Home#index</h1>
<div style="float: left; margin: 0px 25px 0px 0; font-size: 20px;	font-weight: bold;">
<img src="/images/logo.jpg" alt="logo here" width="304" height="228">
</div>
<p>Find me in app/views/home/index.html.erb</p>
